body {
    background-image: url(../images/a-time2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

h1, #add-cartoon, .text-white, p, h6 {
    font-family: 'Carter One', cursive;
}

.cartoon {
    margin: .5%;
    font-family: 'Carter One', cursive;
}

.gifImage {
    margin: 9px;
    width: 200px;
    height: 200px;
   
}

h1 {
    margin-top: 2%;
}

p {
    color: white;
    
}

h6 {
    color: white;
    width: min-content;
}
